$header-border-color: #ddd;
$border-color: #ccc;
$main-color: #eb8012;
$gradiation-main-color: #D5302A;
$complementary-color: #5EA598;
$font-color: #666;
$background-color: #eee;

@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

body {
  margin: 0;
  color: $font-color;
}

a {
  text-decoration: none;
  color: white;
}

#header {
  width: 100vw;
  background-color: $background-color;
  border-bottom: 1px solid $header-border-color;
  position: fixed;
  z-index: 1;
  #content {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    #left_content {
      font-size: 24px;
      font-weight: bold;
      color: $main-color;
    }
    #right_content {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      .button {
        color: white;
        font-size: 16px;
        margin: 0 20px;
        padding: 10px 20px;
        border-radius: 22px;
        background: linear-gradient(-135deg, $main-color, $gradiation-main-color);
        transition: 0.3s;
        &:hover {
          cursor: pointer;
          background: linear-gradient(135deg, $complementary-color, darken($complementary-color, 10));
        }
      }
    }
  }
}

#first_content {
  width: 100vw;
  height: 720px;
  background-image: url("flat-plat-top-resize.png");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
  &:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
  }
  #message-title {
    margin: 0 auto;
    margin-top: 300px;
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 0 0 8px #666;
  }
  #message-body {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 5px #444;
  }
  .button {
    margin: 0 auto;
    margin-top: 50px;
    background: linear-gradient(135deg, $main-color, $gradiation-main-color);
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
    border-radius: 35px;
    box-shadow: 0 1px 1px 0 #666;
    transition-duration: 0.2s;
    &:hover {
      cursor: pointer;
      background: linear-gradient(-135deg, $main-color, $gradiation-main-color);
    }
  }
}

.content {
  box-sizing: border-box;
  width: 100vw;
  padding: 50px;
  background-color: $background-color;
  text-align: center;
  .content_title {
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    &:after {
      content: '';
      display: block;
      width: 100px;
      border-bottom: 2px solid $main-color;
      margin: 0 auto;
      text-align: center;
    }
  }
  .content_body {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
  }
  .button {
    position: relative;
    font-weight: bold;
    margin: 30px auto;
    display: inline-block;
    text-align: center;
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 32px;
    background: linear-gradient(-135deg, $main-color, $gradiation-main-color);
    box-shadow: 0 1px 4px 0 #999;
    transition: 0.3s;
    overflow: hidden;
    &:hover {
      box-shadow: none;
      background: linear-gradient(135deg, $main-color, $gradiation-main-color);
      cursor: pointer;
    }
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: #444;
      animation-name: button;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  }
  @media screen and (max-width: 960px) {
    .content_description {
      width: 80vw;
      margin: 0 auto;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .box {
        margin-top: 50px;
        width: 400px;
        box-sizing: border-box;
        text-align: center;
        border-bottom: 1px solid $border-color;
        &:last-child {
          border: none;
          margin-bottom: 0;
        }
        .box-title {
          font-weight: bold;
        }
        .box-illust {
          margin: 10px auto;
          box-sizing: border-box;
          width: 80%;
          height: 250px;
          background-color: #ccc;
        }
        .box-body {
          box-sizing: border-box;
          padding: 10px;
        }
      }
    }
  }
  @media screen and (min-width: 961px) {
    .content_description {
      width: 80vw;
      margin: 0 auto;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .box {
        margin-top: 50px;
        margin-right: 30px;
        width: 400px;
        box-sizing: border-box;
        text-align: center;
        border-right: 1px solid $border-color;
        &:last-child {
          border: none;
          margin-right: 0;
        }
        .box-title {
          font-weight: bold;
        }
        .box-illust {
          margin: 10px auto;
          box-sizing: border-box;
          width: 80%;
          height: 250px;
          background-color: #ccc;
        }
        .box-body {
          box-sizing: border-box;
          padding: 10px;
        }
      }
    }
  }
}
.light_bg {
  background-color: white;
}
.dark_bg {
  background-color: darken($background-color, 50);
}
#footer {
  color: #dedede;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .text_box {
    margin: 0 50px;
  }
}

@keyframes button {
  from { transform: scale(1); opacity: 0.1}
  to { transform: scale(20); opacity: 0}
}


#left_box {
  // color: white;
  position: fixed;
  z-index: -10;
  width: 400px;
  height: 100vh;
  box-sizing: border-box;
  box-shadow: 1px 0 1px 1px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  #profile_box {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    #image_box {
      position: relative;
      margin: 0 auto;
      $image_size: 250px;
      width: $image_size;
      height: $image_size;
      border-radius: $image_size / 2;
      img {
        width: inherit;
        height: inherit;
        border-radius: inherit;
        object-fit: cover;
      }
      // &:after {
      //   z-index: -1;
      //   position: absolute;
      //   top: -5px;
      //   left: -5px;
      //   border-radius: calc(#{$image_size} + 10px);
      //   content: '';
      //   width: calc(#{$image_size} + 10px);
      //   height: calc(#{$image_size} + 10px);
      //   background: linear-gradient(135deg, $main-color, darken($main-color, 10));
      //   box-shadow: 0 1px 2px 1px #999;
      // }
    }
    #name_field {
      color: white;
      display: inline-block;
      margin: 30px auto;
      padding: 10px 30px;
      text-align: center;
      border-radius: 50px;
      // background-color: white;
      background: linear-gradient(-135deg, lighten($main-color, 10), lighten($gradiation-main-color, 10));
      position: relative;
      &:after {
        z-index: -1;
        position: absolute;
        top: -5px;
        left: -5px;
        border-radius: inherit;
        content: '';
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        background: linear-gradient(-135deg, darken($main-color, 5), darken($gradiation-main-color, 5));
        // box-shadow: 0 1px 2px 1px #999;
      }
    }
  }
}