<div id="react_root"></div>
<%= javascript_pack_tag 'hello_react' %>
<!-- <div id="content">
  <div id="top_menu">
    <div class="button">
      予定を立てる。
    </div>
  </div>
  <div id="main_container">
  </div>
</div> -->